@{
    ViewBag.Title = "ASC";
}

<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/normalize.css" rel="stylesheet" />
<link href="~/Content/grid.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<section class="introducao">
    <div class="container">
        <section>
        </section>
    </div>
</section>

